* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;
}

li {
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

a {
    color: wheat;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: palevioletred;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background-color: wheat;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Articles */

header {
    opacity: 0.9;
}

article {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #262626;
    opacity: 0.9;
}

article h1 {
    color: wheat;
    margin-left: 40px;
    padding: 20px;
}

article h3 {
    color: beige;
    margin: 0 25px;
    padding: 40px;
}

article td tr {
    color: beige;
}

body {
    background-image: url(/add/mac.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;
}

.nav-branding img {
    max-width: 60px;
}